@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #4F46E5;
  --color-secondary: #7C3AED;
  --color-accent: #2563EB;
  --color-tertiary: #9333EA;
  --color-soft: #DDD6FE;
  --color-muted: #F8FAFC;
  --color-background: #FEFEFE;
  --color-mix: #00BFFF;
  --color-text: #1F2937;
}

.dark {
  --color-primary: #00FF41;
  --color-secondary: #39FF14;
  --color-accent: #00CC33;
  --color-tertiary: #00f665;
  --color-soft: #003B5C;
  --color-muted: #003B00;
  --color-background: #000000;
  --color-mix: #00BFFF;
  --color-text: #00FF41;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}